body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Optional, but recommended for full-height layout */
  margin: 0; /* Optional, but recommended to remove default margins */
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}